
.findings {

  .list-group-item{

    background: rgba(0,0,0, 0.0);

    display: inline-block;
    width: 100%;

    .left{
      width: 50%;
      float: left;
    }

    .right {
      width: 30%;
      float: left;
      padding-left: 15px;
    }

    .trash {
      width: 10%;
      float: right;
      color: red;
      padding-top: 4px;

      span:hover{
        cursor: pointer;
      }

    }

  }
}