$width: 100%;

#patient-screen {

    font-family: Arial;

    width: $width;
    height: 100%;
    margin: 0 auto;
    border-width: 0;

  h1 {
    text-align: center;
  }

  .findings-row {
    padding-top: 20px;
  }

  .widget {

    background: rgba(248,249,249, .5);
    color: #1f1f1f;
  }
}