$width: 100%;
$break-small: 450px;

#home-screen {

    width: $width;
    height: 100%;
    margin: 0 auto;
    border-width: 0;

  h1 {
    //desktop
    height: 300px;
    text-align: center;
    padding-top: 100px;
    font-size: 70px;
  }

  h2 {
    //mobile
    height: 150px;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
  }
}

#home-footer {
  position: fixed;
  width: $width;
  text-align: center;
  color: white;

  bottom: 100px;
  @media screen and (max-width: $break-small) {
    bottom: 20px;
  }

  p {
    font-size: 10px;
  }
}