
.findings {

  .list-group-item{

    background: rgba(0,0,0, 0.0);

    display: inline-block;
    width: 100%;

    .question {
      width: 50%;
      float: left;
    }

    .answer {
      width: 25%;
      float: left;
      padding-left: 15px;
    }

    .label {
      width: 5%;
      float: left;
      padding-left: 5px;

      h6{
        color: #1f1f1f;
      }
    }
    .trash {
      width: 10%;
      float: right;
      color: red;
      padding-top: 4px;

      span:hover{
        cursor: pointer;
      }

    }

  }
}