#header{

  background-color: #1A5276;
  color: #ffffff;
  width:100%;
  padding: 15px;
  margin-bottom: 3 0px;
  border-radius: 5px;
    text-align: center;

  h1{
    display: inline;
    text-align: center;
  }

  a {
    float: left;
    text-decoration: none;
    color: #ffffff;

    .glyphicon {
      font-size: 20px;
    }

  }
}