#header{

  background-color: #ffffff;
  width:100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
    text-align: center;

  h1{
    display: inline;
    text-align: center;
  }

  a {
    float: left;
    text-decoration: none;
    color: #3399ff;
  }
}